<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAN BAN pro</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{index.css}">
    <link rel="stylesheet" th:href="@{profile.css}">

</head>
<body>

<div class="mynavbar">
    <a th:href="@{/}">HOME</a>

    <a th:href="@{aboutus}">ABOUT US</a>

    <div class="mydropdown">
        <button class="mydropbtn">PROJECTS
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
            <a th:href="@{projects/kanban}">KAN BAN pro</a>
            <a th:href="@{projects/typepro}">TYPE PRO</a>
            <a th:href="@{projects/pingpong}">PING PONG</a>
        </div>
    </div>

    <a th:href="@{contact}">CONTACT US</a>


    <div class="mydropdown">
        <button class="mydropbtn">ACCOUNT
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
            <a sec:authorize="!isAuthenticated" th:href="@{userlogs/registration}">CREATE ACCOUNT</a>
            <a sec:authorize="!isAuthenticated" th:href="@{userlogs/login}">LOGIN</a>
            <a sec:authorize="isAuthenticated" th:href="@{/myprofile}">MY PROFILE</a>
            <a sec:authorize="isAuthenticated" th:href="@{/logout}">LOGOUT</a>
        </div>
    </div>
</div>

<div class="welcome" >
    <br>
    <h>welcome [[${user.getFirstname()}]] [[${user.getLastname}]]</h>
</div>

<div  style="text-align: center;">
    <a th:href="@{/newtodoform}"
       class="btn btn-primary addbtn ">ADD TODO</a></div><br>
<div style="text-align: center;margin: 0 auto;margin-bottom: 30vw">

    <table class="table table-striped table-bordered mx-auto tbl"
           style="
            text-align: center;
            align-items: center;
            display: inline-table">
        <thead class="table-dark mytable" style="font-family: Rights;text-align: center; align-items: center;
">
        <tr>
            <th  >NUMBER</th>
            <th  >ACCOUNT</th>
            <th >NAME</th>
            <th >DISCRIPTION</th>
            <th >INPUT DATE</th>
            <th >DEADLINE</th>
            <th >COMPLETED</th>
            <th >ACTION</th>
        </tr>
        </thead>
        <tbody style="font-family: Rights;">
        <tr th:each="todo, index:${todos}">
            <td class="contents" th:text="${index.index+1}"></td>
            <td class="contents" th:text="${todo.getInhaber()}"></td>
            <td class="contents" th:text="${todo.todoName}"></td>
            <td class="contents" th:text="${todo.todo}"></td>
            <td class="contents" th:text="${todo.currentdate}"></td>
            <td class="contents" th:text="${todo.deadline}"></td>
            <td>
                <div class="contents" th:if="${todo.status eq 'yes'}" style="color: green">YES</div>
                <div class="contents" th:unless="${todo.status eq 'yes'}" style="color: red">NO</div>
            </td>
            <td>
                <div class="text-center">
                    <a th:href="@{/todo/edit/{id}(id=${todo.id})}"
                       class="btn btn-primary mybtn">UPDATE</a>
                </div>

                <a th:href="@{/todo/{id}(id=${todo.id})}"
                   class="btn btn-danger mybtn">DELETE</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="footerContainer" style="margin-left: 0; margin-right: 0;bottom: 0px;margin-bottom: 0;padding-bottom: 0">
    <footer class="footer">
        <a th:href="@{contact}"> CONTACT</a>
        <a th:href="@{/}"> PROJECTS</a>
        <a th:href="@{impressum}"> IMPRESSUM</a>
        <p class="rights">Copyright © 2024 MJ VISION all rights reserved.</p>
    </footer>
</div>
</body>
</html>
