h1{
    font-family:Lato-Hairline ; font-weight:600;
    opacity: .8;
    font-size: 7em;
    text-align: center;
    display: block;
}
h2{
    font-family:Lato-Hairline ; font-weight:600;
    opacity: .8;
    font-size: 40px;
    margin: auto 60px;
    margin-top: 100px;
    text-align: center;
    display: block;

}
h3{
    font-family:Lato-Hairline ; font-weight:600;
    opacity: .8;
    font-size: 40px;
    text-align: center;
    display: block;

}
h4{
    font-family:Lato-Hairline ; font-weight:600;
    opacity: .8;
    font-size: 40px;
    text-align: center;
    display: block;
    padding-bottom:5vh;

}


.newDimension
{
    text-align: center ;
    font-size: 80px;
    font-family: Lato-Hairline;
    margin :0;
    padding-top: 5vh;
}


.typePro
{
    text-align: center ; font-size: 5vw;font-family: Lato-Hairline;margin :0px;
}

.img1
{

    text-align: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.text1Head
{
    text-align: left ;
    font-size: 3vw;

}
.text1
{
    text-align: left ;
    font-size: 2vw;
    font-family: Gilroy;
    margin :0;
    padding-top: 5vw;
    margin: 0px 6vw;

}
.img2
{
    padding-top: 10vh;

    text-align: center;
    align-items: center;
    width: 99%;
    margin: 0 auto;
    display: flex;
}
.text2
{
    text-align: left ;
    font-size: 2vw;
    font-family: Gilroy;
    margin :0;
    padding-top:0vh;
    margin: 0px 2vw;

}
.featuresHead
{
    font-family: Gilroy;
    font-size: 3vw;
    padding-top: 5vw;
    margin: 0px 6vw;

}
.featuresText
{
    text-align: left ;
    font-size: 2vw;
    font-family: Gilroy;
    margin :0;
    padding-top: 1vw;
    margin: 0px 6vw;
    line-height: 3vw;
}
.img3
{
    padding-top: 10vh;

    text-align: center;
    align-items: center;
    width: 89%;
    margin: 0 auto;
    display: flex;
}
.img4
{
    padding-top: 10vh;

    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.text4
{
    text-align: right ;
    font-size: 1.95vw;
    font-family: Gilroy;
    margin :0;
    padding-top:8vh;
    margin: 0px 0vw;

}
.technicalfeaturesHead
{
    font-family: Gilroy;
    font-size: 3vw;
    padding-top: 10vw;
    margin: 0px 6vw;
}
.technicalfeaturesText
{
    text-align: left ;
    font-size: 2vw;
    font-family: Gilroy;
    margin :0;
    padding-top: 2vw;
    margin: 0px 6vw;
    line-height: 3vw;
    margin-bottom: 5vh;
}
.technicalfeaturescontainer
{
    margin-bottom: 400px;
}


@font-face {
    font-family: 'Cinzel-SemiBold';
    src: url('fonts/Cinzel-SemiBold.ttf') format('truetype');

    /* Füge hier weitere Formate hinzu, falls vorhanden */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Hairline';
    src: url('fonts/Lato-Hairline.ttf') format('truetype');

    /* Füge hier weitere Formate hinzu, falls vorhanden */
    font-weight:100;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Light.ttf') format('truetype');

    /* Füge hier weitere Formate hinzu, falls vorhanden */
    font-weight:100;
    font-style: normal;
}
@font-face {
    font-family: 'Rights';
    src: url('fonts/Cabin-VariableFont_wdth,wght.ttf') format('truetype');

    /* Füge hier weitere Formate hinzu, falls vorhanden */
    font-weight:100;
    font-style: normal;
}



body
{
    overflow:hidden;
    font-size: 1vw;
}
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade-in.active {
    opacity: 1;
}































@media screen and (max-width: 1000px) {


    h2{
        font-family:Lato-Hairline ;
        font-weight:600;
        opacity: .8;
        margin: 0 5vw;
        font-size:4vw;
        text-align: center;
        display: block;
        margin-top: 40px;

    }
    h3{
        font-family:Lato-Hairline ; font-weight:600;
        opacity: .8;
        font-size: 4vw;
        text-align: center;
        display: block;

    }
    h4{
        font-family:Lato-Hairline ; font-weight:600;
        opacity: .8;
        font-size: 5vw;
        text-align: center;
        display: block;
        padding-bottom: 6vh;

    }
    h5{
        font-family:Lato-Hairline ;
        opacity: .8;
        font-size: 10vw;
        text-align: center;
        display: block;
        margin-top: 5vh;
    }

    body::-webkit-scrollbar {
        display:flex;
        background-color: #d3010100
    }
    html, body
    {
        overflow:auto;
        font-size: 1vw;
    }





    .newDimension
    {
        text-align: center ;
        font-size: 6vw;
        font-family: Lato-Hairline;
        margin :0;
        padding-top: 5vh;
    }


    .typePro
    {
        text-align: center ; font-size: 9vw;font-family: Lato-Hairline;margin :0px;
    }

    .img1
    {

        text-align: center;
        align-items: center;
        width:80%;
        margin: 0 auto;
    }
    .text1Head
    {
        text-align: left ;
        font-size: 3.5vw;

    }
    .text1
    {
        text-align: left ;
        font-size: 2.8vw;
        font-family: Gilroy;
        margin :0;
        padding-top: 8vw;
        margin: 0px 6vw;

    }
    .img2
    {

        text-align: center;
        align-items: center;
        width: 99%;
        margin: 0 auto;
        display: flex;
        margin-top: 5vh;
        padding-top: 2vh;
    }
    .text2
    {
        text-align: left ;
        font-size: 2.5vw;
        font-family: Gilroy;
        margin :0;
        padding-top:0vh;
        margin: 0px 1vw;

    }
    .featuresHead
    {
        font-family: Gilroy;
        font-size: 3vw;
        padding-top: 5vw;
        margin: 0px 6vw;

    }
    .featuresText
    {
        text-align: left ;
        font-size: 2.8vw;
        font-family: Gilroy;
        margin :0;
        padding-top: 1vw;
        margin: 0px 6vw;
        line-height: 3.9vw;
    }
    .img3
    {
        padding-top: 4vh;

        text-align: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        display: flex;
    }
    .img4
    {
        padding-top:3.9vh;

        text-align: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        display: flex;
    }
    .text4
    {
        text-align: right ;
        font-size: 2.2vw;
        font-family: Gilroy;
        margin :0;
        padding-top:3vh;
        margin: 0px 0vw;

    }
    .technicalfeaturesHead
    {
        font-family: Gilroy;
        font-size: 3vw;
        padding-top: 10vw;
        margin: 0px 6vw;
    }
    .technicalfeaturesText
    {
        text-align: left ;
        font-size: 2vw;
        font-family: Gilroy;
        margin :0;
        padding-top: 2vw;
        margin: 0px 6vw;
        line-height: 3vw;
        margin-bottom: 5vh;
    }
    .technicalfeaturescontainer
    {
        margin-bottom: 200px;
    }



}


body
{
    overflow:auto;
    font-size: 1vw;
}
body::-webkit-scrollbar {
    display:none;
    background-color: #d3010100
}
body, html {
    margin: 0;
    padding: 0;
}