<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MJ VISION</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/index.css}">
    <link rel="stylesheet" th:href="@{/impressum.css}">

</head>
<body>

<div class="mynavbar">
    <a th:href="@{/}">HOME</a>

    <a th:href="@{aboutus}">ABOUT US</a>

    <div class="mydropdown">
        <button class="mydropbtn">PROJECTS
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
            <a th:href="@{projects/kanban}">KAN BAN pro</a>
            <a th:href="@{projects/typepro}">TYPE PRO</a>
            <a th:href="@{projects/pingpong}">PING PONG</a>
        </div>
    </div>

    <a th:href="@{contact}">CONTACT US</a>


    <div class="mydropdown">
        <button class="mydropbtn">ACCOUNT
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
            <a sec:authorize="!isAuthenticated" th:href="@{userlogs/registration}">CREATE ACCOUNT</a>
            <a sec:authorize="!isAuthenticated" th:href="@{userlogs/login}">LOGIN</a>
            <a sec:authorize="isAuthenticated" th:href="@{/myprofile}">MY PROFILE</a>
            <a sec:authorize="isAuthenticated" th:href="@{/logout}">LOGOUT</a>
        </div>
    </div>
</div>


<h2>Impressum</h2>

<h3><br> <br>If you have any questions or opinions, you can click Contact Us and
    reach out to us</h3>
<h4>We warmly welcome your ideas and opinions </h4>





<p class="text1"><span class="text1Head">Hamburg</span><br>
    I look forward to your news and opinions.
    If you want to cooperate, please contact me under contact details.<br><br>
    Best regards<br><br>
    Mahdiyar Jalili<br>
    Founder of MJ VISION</p><br><br>
<br>
<div class="footerContainer" style="margin-left: 0; margin-right: 0;bottom: 0px;margin-bottom: 0;padding-bottom: 0">
    <footer class="footer">
        <a th:href="@{contact}"> CONTACT</a>
        <a th:href="@{/}"> PROJECTS</a>
        <a th:href="@{impressum}"> IMPRESSUM</a>
        <p class="rights">Copyright © 2024 MJ VISION all rights reserved.</p>
    </footer>
</div>
</body>
</html>